.DiaryEditor {
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}

.DiaryEditor div:not(:last-child) {
  margin-bottom: 10px;
}

.DiaryEditor input,
textarea {
  width: 500px;
  padding: 5px 10px;
}

.DiaryEditor textarea {
  height: 250px;
}

.DiaryEditor select {
  width: 150px;
  padding: 5px;
}

.DiaryEditor button {
  width: 300px;
  background-color: #5585ec;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.DiaryEditor button:hover {
  background-color: #396bd8;
}

.DiaryList {
  padding: 10px;
  width: 500px;
  margin: 0 auto;
}

.DiaryList h1 {
  text-align: center;
}

.DiaryList .item {
  margin-bottom: 10px;
}

.DiaryItem {
  background-color: #fdf8e5;
  margin-bottom: 10px;
  padding: 10px;
}

.DiaryItem .info {
  border-bottom: 1px solid rgb(44, 44, 44);
  padding: 10px;
}

.DiaryItem .date {
  color: grey;
}

.DiaryItem .content {
  padding: 20px 10px;
}

.DiaryItem .content textarea {
  width: 90%;
}

.DiaryItem button {
  width: 60px;
  padding: 4px 8px;
  cursor: pointer;
  background-color:transparent;
  border: none;
  margin-right: 3px;
  transition: all 300ms ease;
}

.DiaryItem button:hover {
  font-weight: 700;
}
