.DiaryEditor {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.DiaryEditor div:not(:last-child) {
  margin-bottom: 10px;
}

.DiaryEditor input,
textarea {
  width: 300px;
  padding: 5px 10px;
}

.DiaryEditor textarea {
  height: 250px;
}

.DiaryEditor select {
  width: 150px;
}

.DiaryEditor button {
  width: 300px;
  padding: 5px 10px;
  cursor: pointer;
}
